* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.navbar {
  background-color: #5ABAA4;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
  color: white;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

a:hover {
  color: black;
}

.hamburger {
  display: none;
}

.hamburger:after {
  content: '\2261';
  color: white;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-item {
  margin-left: 2rem;
}

.nav-link{
  font-size: 1rem;
  font-weight: 400;
  color: white;
}

.nav-logo {
  font-size: 1.5rem;
  font-weight: 500;
  color: white;
}

@media only screen and (max-width: 768px) {
  .nav-menu {
    position: fixed;
    left: -100%;
    top: 4rem;
    flex-direction: column;
    background-color: #5ABAA4;
    width: 100%;
    text-align: center;
  }

  .nav-menu.active {
      left: 0;
      display: block;
  }

  .nav-item {
      margin: 1.5rem 0;
  }

  .hamburger {
      display: block;
      cursor: pointer;
  }

}
